# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gitignore
/news/img/
/news/IFCeu6_h1co.txt
/news/ghostdriver.log
/news/data1.txt
.idea/
news/__init__.pyc
news/news/__init__.pyc
news/news/base_spider.pyc
news/news/common_spider_base.pyc
news/news/feeds_back_utils.pyc
news/news/middlewares.pyc
news/news/news_spiders/__init__.pyc
news/news/news_spiders/astrostyle/__init__.pyc
news/news/news_spiders/astrostyle/astrostyle.pyc
news/news/news_spiders/horoscope/__init__.pyc
news/news/news_spiders/horoscope/horoscope.pyc
news/news/news_spiders/jenniferangel/jenniferangel.pyc
news/news/news_spiders/msn/__init__.pyc
news/news/news_spiders/msn/msn.pyc
news/news/news_spiders/news_spider_base.pyc
news/news/news_spiders/ohippo/__init__.pyc
news/news/news_spiders/ohippo/ohippo.pyc
news/news/news_spiders/slism/__init__.pyc
news/news/news_spiders/slism/slism.pyc
news/news/news_spiders/thoughtco/__init__.pyc
news/news/news_spiders/thoughtco/thoughtco.pyc
news/news/news_spiders/womansday/__init__.pyc
news/news/news_spiders/womansday/womansday.pyc
news/news/news_spiders/yourtango/__init__.pyc
news/news/news_spiders/yourtango/yourtango.pyc
news/news/settings.pyc
news/news/spider_const.pyc
news/news/spider_logger.pyc
news/news/spiders/
news/news/spiders_ap/
news/news/spiders_eu/
news/news/video_spider_base.pyc
news/news/video_spiders/__init__.pyc
news/news/video_spiders/facebook/__init__.pyc
news/news/video_spiders/facebook/facebook_base.pyc
news/news/video_spiders/facebook/facebook_en_US.pyc
news/news/video_spiders/facebook/facebook_single.pyc
news/news/video_spiders/facebook/facebook_ugc_en_US.pyc
news/news/video_spiders/g9ag/9gag_base.pyc
news/news/video_spiders/g9ag/__init__.pyc
news/news/video_spiders/instagram/__init__.pyc
news/news/video_spiders/instagram/instagram_base.pyc
news/news/video_spiders/instagram/instagram_en_US.pyc
news/news/video_spiders/instagram/instagram_ugc_en_US.pyc
news/news/video_spiders/muse/__init__.pyc
news/news/video_spiders/muse/muse_base.pyc
news/news/video_spiders/topbuzz/__init__.pyc
news/news/video_spiders/topbuzz/topbuzz0.pyc
news/news/video_spiders/topbuzz/topbuzz1.pyc
news/news/video_spiders/topbuzz/topbuzz2.pyc
news/news/video_spiders/topbuzz/topbuzz3.pyc
news/news/video_spiders/topbuzz/topbuzz4.pyc
news/news/video_spiders/topbuzz/topbuzz5.pyc
news/news/video_spiders/topbuzz/topbuzz_base.pyc
news/news/video_spiders/video_spider_base.pyc
news/news/video_spiders/youtube/__init__.pyc
news/news/video_spiders/youtube/tools/__init__.pyc
news/news/video_spiders/youtube/tools/statistic.pyc
news/news/video_spiders/youtube/youtube_ar_AR.pyc
news/news/video_spiders/youtube/youtube_base.pyc
news/news/video_spiders/youtube/youtube_en_IN.pyc
news/news/video_spiders/youtube/youtube_en_US.pyc
news/news/video_spiders/youtube/youtube_en_ZZ.pyc
news/news/video_spiders/youtube/youtube_fix_en_US.pyc
news/news/video_spiders/youtube/youtube_hi_IN.pyc
news/news/video_spiders/youtube/youtube_hifit_en_US.pyc
news/news/video_spiders/youtube/youtube_in_ID.pyc
news/news/video_spiders/youtube/youtube_playlist_en_US.pyc
news/news/video_spiders/youtube/youtube_related.pyc
news/news/video_spiders/youtube/youtube_single.pyc
news/news/video_spiders/youtube/youtube_th_TH.pyc
news/news/video_spiders/youtube/youtube_tops_en_US.pyc
news/news/video_spiders/youtube/youtube_ugc.pyc
news/news/video_spiders/youtube/youtube_ugc_en_IN.pyc
news/news/video_spiders/youtube/youtube_ugc_en_US.pyc
news/news/video_spiders/youtube/youtube_ugc_test.pyc
news/news/video_spiders/youtube/youtube_vi_VN.pyc
news/nodes/base.pyc
news/nodes/generator/generator_es/execute.pyc
news/nodes/generator/generator_es/resources/__init__.pyc
news/nodes/generator/generator_es/settings.pyc
news/nodes/generator/generator_es/src/__init__.pyc
news/nodes/generator/generator_es/src/middlewares/__init__.pyc
news/nodes/generator/generator_es/src/middlewares/accountmaker.pyc
news/nodes/generator/generator_es/src/middlewares/base.pyc
news/nodes/generator/generator_es/src/middlewares/breakingnewsmaker.pyc
news/nodes/generator/generator_es/src/middlewares/commentcountmaker.pyc
news/nodes/generator/generator_es/src/middlewares/commentmaker.pyc
news/nodes/generator/generator_es/src/middlewares/contentfilter.pyc
news/nodes/generator/generator_es/src/middlewares/contentmaker.pyc
news/nodes/generator/generator_es/src/middlewares/crawltimefilter.pyc
news/nodes/generator/generator_es/src/middlewares/crawltimemaker.pyc
news/nodes/generator/generator_es/src/middlewares/dedupkeymaker.pyc
news/nodes/generator/generator_es/src/middlewares/deduptitlefilter.pyc
news/nodes/generator/generator_es/src/middlewares/descmaker.pyc
news/nodes/generator/generator_es/src/middlewares/dupefilter.pyc
news/nodes/generator/generator_es/src/middlewares/extracleaner.pyc
news/nodes/generator/generator_es/src/middlewares/genremaker.pyc
news/nodes/generator/generator_es/src/middlewares/hitcountmaker.pyc
news/nodes/generator/generator_es/src/middlewares/imagesmaker.pyc
news/nodes/generator/generator_es/src/middlewares/imagesnonefilter.pyc
news/nodes/generator/generator_es/src/middlewares/imagesnormalizer.pyc
news/nodes/generator/generator_es/src/middlewares/imagesrecall.pyc
news/nodes/generator/generator_es/src/middlewares/keywordsmaker.pyc
news/nodes/generator/generator_es/src/middlewares/layoutmaker.pyc
news/nodes/generator/generator_es/src/middlewares/loads2dict.pyc
news/nodes/generator/generator_es/src/middlewares/localemaker.pyc
news/nodes/generator/generator_es/src/middlewares/locationmaker.pyc
news/nodes/generator/generator_es/src/middlewares/loggermaker.pyc
news/nodes/generator/generator_es/src/middlewares/pagetypefilter.pyc
news/nodes/generator/generator_es/src/middlewares/pagetypemaker.pyc
news/nodes/generator/generator_es/src/middlewares/processmodemaker.pyc
news/nodes/generator/generator_es/src/middlewares/publishermaker.pyc
news/nodes/generator/generator_es/src/middlewares/rawtagsmaker.pyc
news/nodes/generator/generator_es/src/middlewares/scoremaker.pyc
news/nodes/generator/generator_es/src/middlewares/shareiconmaker.pyc
news/nodes/generator/generator_es/src/middlewares/simmode.pyc
news/nodes/generator/generator_es/src/middlewares/sourceurlmaker.pyc
news/nodes/generator/generator_es/src/middlewares/subtitlemaker.pyc
news/nodes/generator/generator_es/src/middlewares/tagsfilter.pyc
news/nodes/generator/generator_es/src/middlewares/tagsmaker.pyc
news/nodes/generator/generator_es/src/middlewares/targetnewsmaker.pyc
news/nodes/generator/generator_es/src/middlewares/targeturlmaker.pyc
news/nodes/generator/generator_es/src/middlewares/testmode.pyc
news/nodes/generator/generator_es/src/middlewares/timefilter.pyc
news/nodes/generator/generator_
es/src/middlewares/timemaker.pyc
news/nodes/generator/generator_es/src/middlewares/titlemaker.pyc
news/nodes/generator/generator_es/src/middlewares/transformer.pyc
news/nodes/generator/generator_es/src/middlewares/updatetypemaker.pyc
news/nodes/generator/generator_es/src/middlewares/videomaker.pyc
news/nodes/generator/generator_es/src/middlewares/videosizemaker.pyc
news/nodes/generator/generator_es/src/util/__init__.pyc
news/nodes/generator/generator_es/src/util/breaking_news_util.pyc
news/nodes/generator/generator_es/src/util/exception.pyc
news/nodes/generator/generator_es/src/util/image_util.pyc
news/nodes/generator/generator_es/src/util/middleware.pyc
news/nodes/generator/generator_gct/execute.pyc
news/nodes/generator/generator_gct/resources/__init__.pyc
news/nodes/generator/generator_gct/settings.pyc
news/nodes/generator/generator_gct/src/__init__.pyc
news/nodes/generator/generator_gct/src/middlewares/__init__.pyc
news/nodes/generator/generator_gct/src/middlewares/accountmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/base.pyc
news/nodes/generator/generator_gct/src/middlewares/contentfilter.pyc
news/nodes/generator/generator_gct/src/middlewares/contentmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/contenttypemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/crawltimefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/crawltimemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/dedupkeymaker.pyc
news/nodes/generator/generator_gct/src/middlewares/dupefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/extracleaner.pyc
news/nodes/generator/generator_gct/src/middlewares/extrainfomaker.pyc
news/nodes/generator/generator_gct/src/middlewares/imagesmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/imagesnonefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/imagesnormalizer.pyc
news/nodes/generator/generator_gct/src/middlewares/imagesrecall.pyc
news/nodes/generator/generator_gct/src/middlewares/infocountmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/keywordsmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/loads2dict.pyc
news/nodes/generator/generator_gct/src/middlewares/localemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/loggermaker.pyc
news/nodes/generator/generator_gct/src/middlewares/nonefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/pagetypefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/pagetypemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/processmodemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/publishermaker.pyc
news/nodes/generator/generator_gct/src/middlewares/shareiconmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/simmode.pyc
news/nodes/generator/generator_gct/src/middlewares/sourceurlmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/tagsfilter.pyc
news/nodes/generator/generator_gct/src/middlewares/tagsmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/targetnewsmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/targeturlmaker.pyc
news/nodes/generator/generator_gct/src/middlewares/testmode.pyc
news/nodes/generator/generator_gct/src/middlewares/timefilter.pyc
news/nodes/generator/generator_gct/src/middlewares/timemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/titlemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/updatetypemaker.pyc
news/nodes/generator/generator_gct/src/middlewares/videomaker.pyc
news/nodes/generator/generator_gct/src/util/__init__.pyc
news/nodes/generator/generator_gct/src/util/exception.pyc
news/nodes/generator/generator_gct/src/util/image_util.pyc
news/nodes/generator/generator_gct/src/util/middleware.pyc
news/nodes/moduleutil/__init__.pyc
news/nodes/moduleutil/exception.pyc
news/nodes/moduleutil/log.pyc
news/nodes/moduleutil/middleware.pyc
news/nodes/moduleutil/stream.pyc
news/nodes/publisher/html_data_pb2.pyc
news/nodes/publisher/settings.pyc
news/nodes/uploader/settings.pyc
news/nodes/uploader/uploader_base.pyc
news/util/__init__.pyc
news/util/image_util.pyc
news/util/mail.pyc
news/util/qrtools.pyc
!/.gitignore
news/nodes/generator/generator_es/src/middlewares/timemaker.pyc
